@font-face {
    font-family: "Comfortaa";
    src: url("text/Comfortaa-VariableFont_wght.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;

}

a {
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Comfortaa', system-ui, sans-serif;
    box-sizing: border-box;
    /* background-image: url('imgs/black-fon2.jpeg'); */
    background-color: #111;

    color: white;
}

p {
    margin: 0;
}

.navbar {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 7vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: calc(12px + 1vw);
}


.nav-el {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    margin-left: 2vw;
    cursor: pointer;
    font-weight: 300;
}

.sendEmail {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.layout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img {
    width: 15vw;
}

.firstScreen {
    width: 100vw;
    max-height: 50vh;
    display: flex;
}

.hi {
    display: flex;

}

.hiText {
    width: 50vw;
}

.hiImg {
    height: 100vh;
    display: flex;
    justify-self: end;
}

.hello {
    width: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, #111 5%, rgb(32, 130, 189) 45%);
    /* border-radius: 2vw; */
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding-left: 1vw;
    z-index: 200;
    padding: 2vw;
}

.helloText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    padding-left: 2vw;
}

.helloImg {
    width: 25vw;
    max-height: 70vh;

    position: absolute;
    z-index: 100;
    right: 4vw;
    top: 5vh;
}

.helloButton {
    margin-top: 3vh;
    width: 10vw;
    height: 5vh;
    font-size: calc(12px + 0.7vw);
    background-color: white;
    border-radius: 2vw;
    cursor: pointer;
}

.mainText {
    margin-top: 2vh;

    font-size: calc(12px + 5vw);
    z-index: 200;
    font-weight: 100;
    text-shadow: #111;
}

.subText {
    margin-top: 2vh;

    font-size: calc(12px +1vw);
    z-index: 200;
    font-weight: 300;
}

.greatingHolder {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;

    background-image: linear-gradient(0deg, #111111 0%, #11111149 70%),
        url("imgs/обои.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    box-sizing: border-box;

}

.greating {
    background-color: whitesmoke;
    color: black;
    border-radius: 1vw 5vw 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1vw;
    margin: 1vw;

}

.greatingImg {
    width: 20vw;
}


.greatingText {
    display: flex;
    justify-self: start;
    flex-wrap: wrap;

    font-size: calc(12px + 2vw);
    font-style: italic;
    font-weight: 100;
    line-height: 3vw;
    text-indent: 3vw;
}


.progect {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.TitleText {
    margin-bottom: 4vw;

    font-size: calc(12px + 3vw);
    z-index: 100;
}

.text {

    font-size: calc(12px + 1vw);
    margin: 1vw;
}

.pogectItems {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

.Item1 {
    position: relative;
    width: 27vw;
}

.Item1Img {
    position: relative;
    width: 100%;
    border-radius: 2vw;
}

.Item1SubText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.ItemImg {
    width: 27vw;
    height: auto;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;

}

.pogectItems {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: space-evenly;

    /* border-top: 1px solid white; */
    /* border-bottom: 1px solid white; */
    flex-wrap: wrap;
    padding-top: 1vw;
    padding-bottom: 1vw;

}

.point {
    color: white;
    border: 1px;
    border-style: solid;
    border-radius: 2vw;
    border-color: azure;
    padding: 8px 16px 8px 16px;
    font-weight: 200;
}

.ItemContainer {
    width: 27vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;


}

.item3 {
    width: 100%;
}

.item3Img {
    width: 100%;
}

.Item3Container {
    display: flex;
    flex-direction: row;
}

.itemtitle {
    margin: 1vw;

    font-size: calc(12px + 0.7vw);
}

.repBlockHolder {
    padding-top: 2vw;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.repBlock {
    background-color: whitesmoke;
    color: black;
    display: flex;
    border-radius: 2vw;
    padding: 2vw;
}

.leftCol {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.repBlockTitle {

    font-size: calc(12px + 3vw);
    margin-top: 1vw;
}

.repBlockText {
    margin-top: 1vw;
    font-size: calc(12px + 1vw);

}

.btnGroup {
    display: flex;
    margin-top: 1vw;
    font-size: calc(5px + 0.8vw);

    align-items: center;

}

.repBlockBtn {
    background-color: #111;
    border: 1px solid white;
    border-radius: 2vw;
    color: white;
    padding: 1vw;
    font-size: calc(12px + 0.8vw);

    display: flex;
    justify-items: center;
    align-items: center;
    margin-right: 2vw;
}

.rigthCol {
    margin-left: 3vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;

    font-size: calc(10px + 1.5vw);
}

.borderTB {
    border-bottom: 1px solid #111;
    padding: 1vw;
}


.aboutMe {
    background-color: whitesmoke;
    color: black;
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.aboutMeImg {
    height: 25vw;
    border-radius: 1vw;
}

.calculator {
    margin-top: 3vw;
    width: 75vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: whitesmoke;
    border-radius: 1vw;
    color: black;
    border: 4px solid black;

}

.calculatorTitleHolder {
    width: 20vw;
    background-color: whitesmoke;
    position: absolute;
    opacity: 0;
    right: 0;
    margin-left: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.calculatorTitleH {
    margin-top: 1vw;

    font-size: 3vw;
    line-height: 4vw;
    text-align: center;

}

.calculatorTitleL {
    margin-top: 1vw;

    font-size: 1vw;
    line-height: 3vw;
    text-align: justify;


}

.calculatorHolder {
    position: relative;
    background-color: whitesmoke;
    align-items: normal;
    color: black;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculatorTitle {
    display: flex;
    align-self: start;

    font-size: 2vw;
    margin-bottom: 2vw;

}

.line {
    position: absolute;
    right: 14vw;
    top: 5vw;
    width: 10vw;
}

.line2 {
    position: absolute;
    left: -2vw;
    top: 3vw;
    height: 45vw;
}

.calculatorText {

    font-size: 2vw;
}

.calculatorNames {
    height: 7vw;
    width: 75vw;
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    position: relative;
    flex-direction: row;

    font-size: 2vw;
    font-weight: 300;
    top: 0;
    border-radius: 1vw;
    border-bottom: 1px solid black;

}

.calculatorName {
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculatorItem {
    height: 15vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 12vw;

}

.calculatorBtn {
    visibility: visible;
    margin-top: 0.5vw;
    width: 12vw;
    border: none;
    outline: none;
    color: black;
    background: whitesmoke;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 1vw;
    min-height: 3vw;
    display: flex;
    align-self: center;
    font-size: 1.3vw;

    font-family: 'Comfortaa', system-ui, sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mouse {
    position: absolute;
    width: 5vw;
    bottom: -1.5vw;
    right: -1vw;
}

.calculatorBtn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.calculatorBtn:hover:before {
    opacity: 1;
}

.calculatorBtn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.calculatorBtn:focus::before {
    opacity: 1;
}

.calculatorBtn::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.whyme {
    text-shadow: 0.1vw 0.3vw 0.9vw #111;

    margin-top: 5vw;
    display: flex;
    flex-direction: column;
}

.whyme1 {
    position: relative;
    display: flex;

    width: 100%;
    flex-direction: row;
}


.whyme2 {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;



}

.whymeText {
    display: flex;
    flex-direction: column;
    width: 50%;
    z-index: 200;
}
.whymeTextPhone{
    width: 70%;
}

.whymeTextLast {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 200;
    text-shadow: none;

}

.whymeNumbers {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(12px + 8vw);

    font-weight: 900;
    color: #e2e2e2;
}

.whymeTitle {

    font-size: calc(12px + 2.6vw);

}

.whymeTextHight {

    font-size: calc(12px + 1.6vw);


}

.whymeTextLow {
    margin-top: 1vw;
    font-size: calc(12px + 1.2vw);
    line-height: 4vw;
    margin-top: 0.5vw;
}

.whymeText3block {
    margin-top: 1vw;
    font-size: 1.2vw;
    line-height: 4vw;
    margin-top: 0.5vw;
}

.psTextHolder {
    width: 80vw;
}

.psText {

    font-size: calc(12px + 1.2vw);

}

.whymeImg1 {
    position: absolute;
    right: 3vw;
    top: -3vw;
    width: 50vw;
    z-index: 100;
}

.whymeImg2 {
    position: absolute;
    left: 3vw;
    top: -3vw;
    width: 40vw;
    z-index: 100;
}

.roundHolder {
    display: flex;
    align-items: row;
    justify-content: space-evenly;
}

.roundItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.round {
    width: 10vw;
    height: 10vw;
    border-radius: 100%;

    box-shadow: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: calc(12px + 4vw);

}

.color1 {
    background-color: #465ccc;
}

.color2 {
    background-color: #51b2df;
}

.color3 {
    background-color: #5be4dd;
}

.aboutUs {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-size: calc(12px + 2vw);

}

.ask {
    margin: 1vw 0px;
    justify-content: space-between;
    display: flex;
    width: 80%;
    background-color: #111;
    color: white;
    font-size: calc(12px + 2vw);
    font-family: 'Comfortaa', system-ui, sans-serif;
    border: 1px solid white;
    border-top: 0px solid white;
    border-right: 0px solid white;
    border-left: 0px solid white;
    text-align: start;
}

.answer {

    font-size: calc(12px + 1vw);

    margin: 0.5vw;
    line-height: 35px;

}

#item1 {
    display: none;
    opacity: 0;
    width: 80%;
    flex-direction: column;
    padding-left: 2vw;
}

#item2 {
    display: none;
    opacity: 0;
    width: 80%;
    flex-direction: column;
    padding-left: 2vw;
}

#item3 {
    display: none;
    opacity: 0;
    width: 80%;
    flex-direction: column;
    padding-left: 2vw;
}

#item4 {
    display: none;
    opacity: 0;
    width: 80%;
    flex-direction: column;
    padding-left: 2vw;
}

#item5 {
    display: none;
    opacity: 0;
    width: 80%;
    flex-direction: column;
    padding-left: 2vw;
}

#item6 {
    display: none;
    opacity: 0;
    width: 80%;
    flex-direction: column;
    padding-left: 2vw;
}

#item7 {
    display: none;
    opacity: 0;
    width: 80%;
    flex-direction: column;
    padding-left: 2vw;
}

#item8 {
    display: none;
    opacity: 0;
    width: 80%;
    flex-direction: column;
    padding-left: 2vw;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    margin-bottom: 0vw;
}

.contactLeft {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactRight {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacImg {
    width: 70%;
    border-radius: 2vw;
}

.number {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
    gap: 2vw;
    margin-bottom: 5vw;

}

.mb {
    visibility: hidden;
    position: absolute;
}
.pc{
    visibility: visible;
    
}
.plus{
    display: flex;
    justify-self: end;
}
.numbers{
    margin: 0 5vw;
    line-height: 2vw;
    display: flex;
}
.number{
    font-size: calc(10px + 1.2vw);
    width: 50%;
}
@media screen and (max-width: 600px) {
    .ToRight{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        text-align: end;
    }
    .whyme{
        margin-left: 4vw;
    }
    #whymeText2 {
        width: 100% !important;
        text-align: end;
        margin-right: 4vw;
    }

    .whymeImg2 {
        visibility: hidden;
    }

    .whymeText {
        gap: 3vw;
    }

    .whymeImg1 {
        height: 100%;
        width: auto;
    }

    .calculator {
        width: 90vw;

    }

    .calculatorNames {
        width: 95vw;
        font-size: 10px;
    }

    .calculatorItem {
        width: 18vw;
        height: 30vw;
    }

    .calculatorBtn {
        font-size: 12px;
        width: 17vw;
        margin: 1vw 0;
        padding: 2px;
        height: 5vw;
    }

    #calculatorBtn1_1 {
        content: '123123322';
    }

    .mb {
        visibility: visible;
    }
    .pc{visibility: hidden;
        position: absolute;}

    .calculatorName{width: 18vw;}
    .progect{
        width: 95%;
    }
    /* .n{
        margin: 5vw;
        margin-bottom: 0;
    } */
}